alias c=clear

alias vim=nvim

alias ls=lsd
alias lst="ls --tree"
alias l="lsd -la"
alias lt="l --tree"

alias dc="docker compose"

alias grep=rg
alias cat=bat

alias gd="git diff --name-only --relative --diff-filter=d | xargs bat --diff"
